@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0px;
}

/******************************************** Header styles ********************************/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #131313;
}

/******************************************** Banner styles ********************************/
.banner {
    text-align: center;
}

.banner-title {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 10px 100px;
}

.banner-description {
    padding: 10px 100px;
}

.btn-primary {
    background: #FF900E;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/******************************************** Main common styles ********************************/
main {
    max-width: 1440px;
    margin: 0 auto;
}

/******************************************** feature content ********************************/

.feature {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.col-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.col-2 {
    padding-left: 50px;
}

.feature-titel {
    color: #727272;
    font-size: 2rem;
    font-weight: 700;
}

.feature-discription {
    text-align: justify;
    margin-right: 30px;
}

.of-our {
    color: #131313;
}

.feature-color {
    color: #FF900E;
}

/******************************************** Experience styles ********************************/

.experience {
    display: flex;
    gap: 50px;
    margin: 0px 30px 100px 30px;
}

.experience-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    margin: 0;
}

.text-gray-color {
    color: #727272;
}

.container-content {
    padding: 15px 30px;
}

.container-content h5 {
    font-size: 20px;
    font-weight: 700;
    color: #131313;
    margin: 0;
}

.experience-col-2 img {
    width: 78%;
    margin-left: 70px;
}

.experience-10year {
    background: #FF900E;
    border-radius: 5px;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 80px;
}

.experience-10year h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.experience-10year p {
    font-size: 18px;
    margin: 0px;
}

/*****************  some facts  *************/
.some-fact {
    margin-bottom: 100px;
}

.some-fact h3 {
    color: #131313;
    font-size: 30px;
    font-weight: 700;
    line-height: 1px;
}

.some-fact-care-comtainer {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.some-fact-care {
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    padding: 40px 60px 40px 60px;
}

/******************************************** responsive styles ********************************/

@media screen and (max-width:576px) {

    /**************************************** Header responsive  *******************************/
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        padding: 10px;
    }

    .banner-description {
        padding: 10px;
    }

    /**************************************** Quick list responsive *********************************/
    .feature {
        flex-direction: column;
    }

    .col-1 {
        grid-template-columns: 1fr;
    }

    .feature-discription {
        padding-right: 30px;
    }

    /**************************************** Features responsive *********************************/
    .experience {
        flex-direction: column;
    }

    .experience-container-title {
        padding: 20px;
    }

    .experience-col-2 img {
        margin-left: 50px;
    }

    .experience-10year {
        margin-left: 15px;
    }

    .some-fact-care-comtainer {
        flex-direction: column;
    }

    .some-fact {
        padding: 0px 20px 0px 20px;
    }
}



@media screen and (min-width:576px) and (max-width:992px) {

    /**************************************** Header responsive *********************************/
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        padding: 10px;
    }

    .banner-description {
        padding: 10px;
    }

    /**************************************** Quick list responsive *********************************/
    .feature {
        flex-direction: column;
    }

    /**************************************** Features responsive *********************************/
    .experience {
        flex-direction: column;
    }

    .experience-container-title {
        padding: 20px;
    }

    .experience-col-2 img {
        margin-left: 50px;
    }

    .experience-10year {
        margin-left: 15px;
    }
}